@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .bubble-group:hover {
    .bubble-text {
      animation: 1s pulsate infinite;
    }
    .bubble-icon {
      animation: 1s pulsateLarge infinite;
    }
  }
  .bubble-svg {
    font: bold 70px Century Gothic, Arial;
    width: 100%;
    animation: inherit;
  }
  .bubble-text {
    fill: white;
    stroke: black;
    stroke-width: 2px;
    stroke-linejoin: round;
    animation: inherit;
  }
  .bubble-text-hover {
    &:hover {
      animation: 1s pulsate infinite;
    }
  }
  .bubble-icon,
  .bubble-icon-inf {
    stroke: black;
    stroke-width: 8px;
    animation: inherit;
    &:hover {
      animation: 1s pulsateLarge infinite;
    }
  }
  .bubble-icon-inf {
    animation: 1s pulsateLarge infinite;
  }

  @keyframes pulsateLarge {
    50% {
      stroke-width: 16px;
    }
  }

  @keyframes pulsate {
    50% {
      stroke-width: 6px;
    }
  }

  /* Tailwind CSS animations */
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes wobble {
    0% {
      transform: rotate(-1deg);
    }
    50% {
      transform: rotate(1deg);
    }
    100% {
      transform: rotate(-1deg);
    }
  }
  @keyframes wobble2 {
    0% {
      transform: rotate(-2deg);
    }
    50% {
      transform: rotate(2deg);
    }
    100% {
      transform: rotate(-2deg);
    }
  }
  @keyframes wobble3 {
    0% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
    100% {
      transform: rotate(-3deg);
    }
  }

  .wobble,
  .wobble2,
  .wobble3 {
    transform-origin: center center; /* Sets the rotation point to the center of the SVG */
  }
  .wobble {
    animation: wobble 5s ease-in-out infinite;
  }
  .wobble2 {
    animation: wobble2 5s ease-in-out infinite;
  }
  .wobble3 {
    animation: wobble3 5s ease-in-out infinite;
  }

  /* Add animation to the cloud */
  .animate-cloud {
    animation: float 3s ease-in-out infinite;
    overflow: hidden;
  }
}
